body div{
    width: 1000px;
    height: 1000px;
    border: 1px solid #000;
    background-color: #2B95DF;
    margin: auto;
}
body div header{
    width: 1000px;;
    height: 100px;
    background-color: #00529B;
    margin: auto;
}
body div header h1{
    margin: auto;
}
body div nav{
    width: 1000px;
    height: 50px;
    background-color: #00109B;
    margin: auto;
}
body div nav table{
    font-size: 28px;
}
body table a{
    text-decoration: none;
    color: aliceblue;
}
body div img{
    margin-bottom: -500px;
}